@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap');



// Bootstrap Overwrite

#root {
  height: 100vh;
}

$font-family-sans-serif: "Gabarito", sans-serif !default;
$body-font-weight: 400;
$color-grey: #A5A5A5;
$primary: #50854e;

$body-bg: #e6e6e6;

$gradient: linear-gradient(0deg, rgba(8, 50, 70, 0.25), rgba(255, 255, 255, 0));


@import "./scss/elements/navigations";
@import "./scss/elements/footer";
@import "./scss/elements/contact";
@import "./scss/settings/variables";


@import "../node_modules/bootstrap/scss/bootstrap.scss";




