@import "scss/settings/variables";
@import "scss/settings/mixins";
@import "scss/elements/navigations";
@import "scss/elements/opening";
@import "scss/elements/shelters";
@import "scss/elements/contact";
@import "scss/elements/footer";
@import "scss/generic/grid";
@import "scss/elements/shelter";

//@import 'react-bootstrap/Button';

* {
  box-sizing: border-box;
  font-family: $font-gabarito, sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}


h2 {
  font-size: 2.25rem;
  font-weight: 300;
}

.container {
  width: 95vw;
  margin: 0 auto;
  }

.logo {
  font-size: 2.5rem;
  font-weight: 400;
  color: $color-primary;
  margin-left: 30px;
}

//@import '../../../node_modules/bootstrap/scss/bootstrap';

