.header {
  height: 70px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  padding: 0px;

  .nav {

    &__element {
      padding: 0 10px;
      list-style-type: none;

      &:last-child {
        padding-right: 0;
      }
    }

    &__link {
      color: #4f4f4f;
      font-weight: 700;
      font-size: 0.6875rem;
      text-transform: uppercase;
      padding: 28px 18px 22px;
      border-bottom: 4px solid transparent;
      letter-spacing: 0.1875rem;

      &:hover {
        color: rgb(36, 36, 36);
        border-color: #50854e;
      }
    }
  }
}
