.image-box {
  height: 200px;
  overflow: hidden;

  img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.text-desc {
  font-size: 0.8em;
}
