.shelter-container {
  width: 70vw;
  border: 2px solid $color-grey;
  border-radius: 15px;
  margin: 0 auto;


  &__container {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }

  .shelter_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
  }
}